body{
    background-color: bisque;
    color: black;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0px;
    padding: 20px;
    overflow: auto;
}


.inicio{
    padding: 20px;
    font-family: sans-serif;
    text-shadow: 0px 0px 2px rgba(32, 2, 2, 0.658);
    text-align: center;
    font-size: 33px;
    color: rgb(107, 63, 6);
    padding-bottom: 10px;
}

.titulo{
    margin: 0;
    font-size: 40px;
    color: rgb(107, 63, 6);
    font-weight: bold;
    padding-bottom: 20px;
}

.info{
    text-align: center;
    padding: 20px;
    background-color: burlywood;
    margin: 10px;
    border-radius: 10px;
}

.yo{
    font-size: 30px;
    color: rgb(107, 63, 6);
    font-weight: bold;
    padding-bottom: 10px;
}

.tec{
    background-color: burlywood;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.tecnologías{
    text-align: center;
    color: rgb(107, 63, 6);
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

.cards{
    display: flex;
}

.cards .html,
.cards .css,
.cards .js{
    flex: 1;
    margin: 0 10px;
}

.cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.cards img:hover{
    transform: scale(1.05);
}

.actividad{
    text-align: center;
    color: rgb(107, 63, 6);
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

input[type="text"], input[type="text"], input[type="url"], textarea {
    width: 100%;
    padding: 1dvh;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: rgb(139, 91, 29); /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
    font-size: 16px; /* Tamaño de la fuente */
}

/* Estilo para el botón "Agregar Actividad" al pasar el ratón */
button[type="submit"]:hover {
    background-color: #c47908; /* Color de fondo al pasar el ratón */
}

p{
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    letter-spacing: normal;
}

.forum{
    background-color: burlywood;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tarjeta-actividad {
    background-color: bisque;
    border: 1px solid #af6c00;
    display: inline-block;
    width: 550px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    transition: transform 0.3s ease;
    margin-right: 20px;
}

.tarjeta-actividad:hover{
    transform: scale(1.01);
}

.titulo-actividad {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.descripcion-actividad {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.imagen-actividad {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}